In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
Â·Â·Â·Â·Â·Â·Â·Â·Â·Â·
Mounted at /content/drive

In [ ]:
df = pd.read_json('/content/train.jsonl', lines=True)
df.to_csv(r'/content/train.csv', index = False)

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/My Drive/eggplant/data/data_with_img/deepface_train.csv')
df

         id            img  label  ... gender  emotion            race
0     42953  img/42953.png      0  ...    Man      sad           black
1     23058  img/23058.png      0  ...    Man  neutral           white
2     13894  img/13894.png      0  ...    NaN      NaN             NaN
3     37408  img/37408.png      0  ...    NaN      NaN             NaN
4     82403  img/82403.png      0  ...    Man      sad  middle eastern
...     ...            ...    ...  ...    ...      ...             ...
8495  10423  img/10423.png      1  ...    Man     fear           white
8496  98203  img/98203.png      1  ...    Man    happy           white
8497  36947  img/36947.png      1  ...  Woman    happy           asian
8498  16492  img/16492.png      1  ...    Man     fear  middle eastern
8499  15937  img/15937.png      1  ...    NaN      NaN             NaN

[8500 rows x 9 columns]

In [ ]:
df['tags'] = df['tags'].fillna('nothing')
df ['text'] = 'the image contains ' + df['tags'] + ' and he data is ' + df['text']
df = df.drop('tags',axis = 1)
df

        id            img                                               text
0    16395  img/16395.png  the image contains person and the data means h...
1    37405  img/37405.png  the image contains person and the data means i...
2    94180  img/94180.png  the image contains person and the data means h...
3    54321  img/54321.png  the image contains person person and the data ...
4    97015  img/97015.png  the image contains person person person and th...
..     ...            ...                                                ...
995   3869  img/03869.png  the image contains cat and the data means a mo...
996  23817  img/23817.png  the image contains nothing and the data means ...
997  56280  img/56280.png  the image contains person and the data means l...
998  29384  img/29384.png  the image contains nothing and the data means ...
999  34127  img/34127.png  the image contains person couch chair potted p...

[1000 rows x 3 columns]

In [ ]:
df['tags'] = df['tags'].fillna('nothing')
for i in range (len(df)):
  if 'person' in df['tags'][i]:
    # print(df.iloc[i,:])
    df['tags'][i] = df['tags'][i].replace('person','')
    temp = df['tags'][i].split()
    df['tags'][i] = ' '.join(temp)
    df['text'][i] = 'the image contains ' + df['tags'][i] + ' a '+ str(df['race'][i]) + ' ' + str(df['emotion'][i]) + ' ' + str(df['gender'][i]) +  ' and the data is ' + df['text'][i]
  else:
    df ['text'][i] = 'the image contains ' + df['tags'][i] + ' and the data is ' + df['text'][i]
df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

        id            img  ... emotion            race
0    16395  img/16395.png  ...   happy           white
1    37405  img/37405.png  ...   angry           white
2    94180  img/94180.png  ...   happy           white
3    54321  img/54321.png  ...    fear           white
4    97015  img/97015.png  ...     sad           black
..     ...            ...  ...     ...             ...
995   3869  img/03869.png  ...     NaN             NaN
996  23817  img/23817.png  ...     NaN             NaN
997  56280  img/56280.png  ...   happy           white
998  29384  img/29384.png  ...     NaN             NaN
999  34127  img/34127.png  ...   happy  middle eastern

[1000 rows x 8 columns]

In [ ]:
df = df.drop(['tags','age','gender','emotion','race'],axis = 1)
df

        id            img                                               text
0    16395  img/16395.png  the image contains  a white happy Woman and th...
1    37405  img/37405.png  the image contains  a white angry Man and the ...
2    94180  img/94180.png  the image contains  a white happy Man and the ...
3    54321  img/54321.png  the image contains  a white fear Man and the d...
4    97015  img/97015.png  the image contains  a black sad Man and the da...
..     ...            ...                                                ...
995   3869  img/03869.png  the image contains cat and the data is a mothe...
996  23817  img/23817.png  the image contains nothing and the data is sea...
997  56280  img/56280.png  the image contains  a white happy Man and the ...
998  29384  img/29384.png  the image contains nothing and the data is the...
999  34127  img/34127.png  the image contains couch chair potted plant co...

[1000 rows x 3 columns]

In [ ]:
df2 = pd.read_csv('/content/drive/My Drive/eggplant/data/data_with_img/deepface_test_final.csv')
df2

        id            img  label  ... gender  emotion            race
0     8291  img/08291.png      1  ...    Man     fear  middle eastern
1    46971  img/46971.png      1  ...    Man  neutral           white
2     3745  img/03745.png      1  ...  Woman    happy           white
3    83745  img/83745.png      1  ...    NaN      NaN             NaN
4    80243  img/80243.png      1  ...    NaN      NaN             NaN
..     ...            ...    ...  ...    ...      ...             ...
495  83675  img/83675.png      0  ...    Man     fear           white
496  37198  img/37198.png      0  ...    Man      sad           white
497  48670  img/48670.png      0  ...    NaN      NaN             NaN
498   9863  img/09863.png      0  ...  Woman    happy           white
499  97320  img/97320.png      0  ...    NaN      NaN             NaN

[500 rows x 9 columns]

In [ ]:
df = pd.concat([df,df2])
df

        id            img  label  ... gender  emotion            race
0    42953  img/42953.png      0  ...    Man      sad           black
1    23058  img/23058.png      0  ...    Man  neutral           white
2    13894  img/13894.png      0  ...    NaN      NaN             NaN
3    37408  img/37408.png      0  ...    NaN      NaN             NaN
4    82403  img/82403.png      0  ...    Man      sad  middle eastern
..     ...            ...    ...  ...    ...      ...             ...
495  83675  img/83675.png      0  ...    Man     fear           white
496  37198  img/37198.png      0  ...    Man      sad           white
497  48670  img/48670.png      0  ...    NaN      NaN             NaN
498   9863  img/09863.png      0  ...  Woman    happy           white
499  97320  img/97320.png      0  ...    NaN      NaN             NaN

[9000 rows x 9 columns]

In [ ]:
df2 = df.loc[df['label'] == 1]

In [ ]:
df = pd.concat([df,df2.sample(n = 2400)])
df = df.reset_index()
df = df.drop('index',axis = 1)
df

          id            img  label  ... gender  emotion            race
0      42953  img/42953.png      0  ...    Man      sad           black
1      23058  img/23058.png      0  ...    Man  neutral           white
2      13894  img/13894.png      0  ...    NaN      NaN             NaN
3      37408  img/37408.png      0  ...    NaN      NaN             NaN
4      82403  img/82403.png      0  ...    Man      sad  middle eastern
...      ...            ...    ...  ...    ...      ...             ...
11395  24971  img/24971.png      1  ...    Man      sad           white
11396  90516  img/90516.png      1  ...    Man     fear           white
11397  36025  img/36025.png      1  ...    Man     fear           white
11398  67103  img/67103.png      1  ...    Man    happy           white
11399  52681  img/52681.png      1  ...    NaN      NaN             NaN

[11400 rows x 9 columns]

In [ ]:
import collections
a = df['label'].values
collections.Counter(a)

Counter({0: 5450, 1: 3050})

In [ ]:
one_hot = pd.get_dummies(df['label'])
df = df.drop('label',axis = 1)
df = df.join(one_hot)
df

          id            img  ...  0  1
0      42953  img/42953.png  ...  1  0
1      23058  img/23058.png  ...  1  0
2      13894  img/13894.png  ...  1  0
3      37408  img/37408.png  ...  1  0
4      82403  img/82403.png  ...  1  0
...      ...            ...  ... .. ..
11395  24971  img/24971.png  ...  0  1
11396  90516  img/90516.png  ...  0  1
11397  36025  img/36025.png  ...  0  1
11398  67103  img/67103.png  ...  0  1
11399  52681  img/52681.png  ...  0  1

[11400 rows x 5 columns]

In [ ]:
df.rename(columns = {0:'not-offensive', 1:'offensive'}, inplace = True)
df

          id            img  ... not-offensive  offensive
0      42953  img/42953.png  ...             1          0
1      23058  img/23058.png  ...             1          0
2      13894  img/13894.png  ...             1          0
3      37408  img/37408.png  ...             1          0
4      82403  img/82403.png  ...             1          0
...      ...            ...  ...           ...        ...
11395  24971  img/24971.png  ...             0          1
11396  90516  img/90516.png  ...             0          1
11397  36025  img/36025.png  ...             0          1
11398  67103  img/67103.png  ...             0          1
11399  52681  img/52681.png  ...             0          1

[11400 rows x 5 columns]

In [ ]:
print(df)

None

In [ ]:
df1 = pd.read_json('/content/test.jsonl', lines=True)
df2 = pd.read_json('/content/dev.jsonl', lines=True)

In [ ]:
df1.head()

      id            img                                         text
0  16395  img/16395.png                     handjobs sold seperately
1  37405  img/37405.png         introducing fidget spinner for women
2  94180  img/94180.png  happy pride month let's go beat up lesbians
3  54321  img/54321.png       laughs in [majority of u.s crime rate]
4  97015  img/97015.png       finds out those 72 virgins.. are goats

In [ ]:
df2.head()

      id  ...                                               text
0   8291  ...              white people is this a shooting range
1  46971  ...                              bravery at its finest
2   3745  ...  your order comes to $37.50 and your white priv...
3  83745  ...  it is time.. to send these parasites back to t...
4  80243  ...                             mississippi wind chime

[5 rows x 4 columns]

In [ ]:
df.to_csv('train.csv', index=False)

In [ ]:
df1.to_csv('test.csv', index=False)
df2.to_csv('dev.csv', index=False)

In [ ]:
one_hot = pd.get_dummies(df['label'])
df = df.drop('label',axis = 1)
df = df.join(one_hot)
df

          id            img  ...  0  1
0      42953  img/42953.png  ...  1  0
1      23058  img/23058.png  ...  1  0
2      13894  img/13894.png  ...  1  0
3      37408  img/37408.png  ...  1  0
4      82403  img/82403.png  ...  1  0
...      ...            ...  ... .. ..
11395  15768  img/15768.png  ...  0  1
11396  83527  img/83527.png  ...  0  1
11397  19637  img/19637.png  ...  0  1
11398  43109  img/43109.png  ...  0  1
11399  76083  img/76083.png  ...  0  1

[11400 rows x 5 columns]

In [ ]:
df.to_csv('/content/drive/My Drive/eggplant/data/data_with_img/deepface_notupsampled_test.csv', index=False)

In [ ]:
df

        id  ...                                   tags
0    16395  ...                                 person
1    37405  ...                                 person
2    94180  ...                                 person
3    54321  ...                          person person
4    97015  ...                   person person person
..     ...  ...                                    ...
995   3869  ...                                    cat
996  23817  ...                         unidentifiable
997  56280  ...                                 person
998  29384  ...                         unidentifiable
999  34127  ...  person couch chair potted plant couch

[1000 rows x 4 columns]

In [ ]:
import os
import shutil

In [ ]:
%%capture
from tqdm import tqdm_notebook as tqdm
tqdm().pandas()

In [ ]:
df['img'] = '/content/drive/My Drive/eggplant/data/' + df['img']
dst = '/content/drive/My Drive/eggplant/data/test_img_cpy/'


with tqdm(total=len(df)) as pbar:
  for filename in df['img']:
    shutil.copy( filename, dst)
    pbar.update(1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  """

HBox(children=(FloatProgress(value=0.0, max=1000.0), HTML(value='')))